.container-bordered{
    margin-top: 20px;
    margin-bottom: 20px;
    /*position: absolute;*/
    padding: 30px;
    /*background-color: #C6C7CA;*/
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #C6C7CA;
    border-style: solid;
    /*border-width: thick;*/
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.input-group-text{
    width: 125px;
}

ul{
    list-style-type: none;
}

.fileList li{
    margin-bottom: 5px
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 750px;
    padding: 30px;
    /*background-color: #C6C7CA;*/
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #C6C7CA;
    border-style: solid;
    /*border-width: thick;*/
}

.custom-file-input{
    width: 190%;
}

.input-group-text{
    width: 125px;
}
.form-check-label{
    margin-top: 0.9rem;
}
.form-check-input{
    margin-left: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em auto;
    padding: 5px;
}

.no-border{
    border-top: 0px solid #ccc;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}
table {
    border-spacing: 15px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}


canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
